<app-login
  *ngIf="!token else startChat"
  [loginEndpoint]="baseUrl + '/api/Demo/Login'"
  (returnToken)="setToken($event)"
></app-login>

<ng-template #startChat>
  <div>
    <label>Enter your message: </label>
    <input type="text" [(ngModel)]="msg" (keyup)="onKeyUp($event)">
  </div>
  <div>
    <ul>
      @for (item of messages; track item) {
        <li>{{ item }}</li>
      } @empty {
      <li>There are no messages.</li>
      }
    </ul>
  </div>
  <hr>
  <div>
    <label>Enter username you want to send to: </label>
    <input type="text" [(ngModel)]="targetUsername" required>
  </div>
  <div>
    <label>Enter your private message: </label>
    <input type="text" [(ngModel)]="privateMessage" (keyup)="onPrivateMessageKeyUp($event)">
  </div>
  <ul>
    @for (item of privateMessages; track item) {
      <li>{{ item }}</li>
    } @empty {
    <li>There are no messages.</li>
    }
  </ul>
</ng-template>
