container_commands:
  01_install_nest:
    command: "npm install -g @nestjs/cli"
  02_fix_permissions:
    command: "chown -R webapp:webapp /var/app/current"
  03_remove_old_build:
    command: "rm -rf /var/app/current/dist/*"
  04_npm_install:
    command: "npm ci --only=production"
  05_build:
    command: "npm run build"