<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connstr1" connectionString="Data Source=.;Initial Catalog=DemoDB;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="conn1" connectionString="Test Conn1" providerName="sqlserver" />
    <add name="conn2" connectionString="Test Conn2" providerName="mysql" />
  </connectionStrings>
  <appSettings>
    <add key="config:Smtp:Server" value="smtp.test.com" />
    <add key="config:Smtp.Port" value="25" />
    <add key="config:RedisServer" value="127.0.0.1" />
    <add key="config:RedisPassword" value="abc123" />
    <add key="config:name" value="test" />
    <add key="config:age" value="18" />
    <add key="config:proxy.address" value="fadadf" />
    <add key="config:proxy:port" value="3306" />
    <add key="config:proxy:ids:0" value="666" />
    <add key="config:proxy:ids:1" value="888" />
  </appSettings>
</configuration>